.fdroid-deploy-s3cfg
/archive/
/binary_transparency/
/duplicates/
# generated metadata files for *.obf.zip, 64 hex char SHA-256
/metadata/*0*.yml
/metadata/*/*/changelogs/*.txt
/metadata/*/*/description.txt
/metadata/*/*/featureGraphic.*
/metadata/*/*/icon.png
/metadata/*/*/summary.txt
/repo/
/srclibs/
/tmp/
